@import url('IMG.jpg');

header{
    width: 100%;
    height: 100vh;
    background:fixed url('IMG.jpg');
    background-size: cover;
    font-family: 'Poppins',sans-serif;
}
nav{
    width: 100%;
    height: 100px;
    margin-top: 0px;
  
    color: #000000;
    display: flex;
    justify-content: space-around;
align-items: left;
}
.menu a:hover{
    border: 1px solid rgb(220, 18, 18);
    background: transparent;
 }
.menu a{
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    font-size: 20px;
}   
.brightness {
    background-color: white;
    display: inline-block;
}
